@page
@model BozziWebApp.Pages.SearchModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Razor</title>
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <h1>My First Response Razor page</h1>
    <p>The data: <b>@Model.dati</b>.</p>
    


</body>
</html>